.progress {
    position: relative;
    margin: 4px;
    float: left;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.barOverflow {
    /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden;
    /* Comment this line to understand the trick */
    width: 90px;
    height: 45px;
    /* Half circle (overflow) */
    margin-bottom: -14px;
    /* bring the numbers up */
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 15px solid #eee;
    /* half gray, */
    border-bottom-color: orange;
    /* half azure */
    border-right-color: orange;
    transform: rotate(63deg)
}