.highlight-card {
  height: 40%;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlight-card .header {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlight-card .title {
  color: gray;
  font-size: 1rem;
  width: 80%;
  font-size: 1.5vw;
}

.highlight-card .content {
  width: 80%;
  height: 70%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}